body {
    font-family: "Arial", sans-serif;
    background-color: #e6b0ff; /* Change the background color to purple */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 90%;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.difficulty p {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.level-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.level {
    width: 60px;
    height: 60px;
    background-color: #ff94d4; /* Change the button color to pink */
    color: #ffffff;
    font-size: 1.8rem;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.5s ease-in-out, background-color 0.3s ease-in-out;
}

.level:hover {
    background-color: #ff94d4aa;
    transform: scale(1.2);
}

.level.selected {
    background-color: #4caf50;
    border: 2px solid #ffffff;
    transform: scale(1.2);
}

button {
    font-size: 1.5rem;
    background-color: #ff94d4; /* Change the button color to pink */
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out, background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #ff94d4aa;
    transform: scale(1.1);
}

button:active {
    transform: translateY(2px);
}

button.spin {
    animation: spinAndShrink 1.5s ease-out;
}

@keyframes spinAndShrink {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(0) rotate(720deg);
    }
}
